{% extends 'base.html.twig' %}

{% block body %}

    <div class="hidden absolute" id="modalCorsi">
        <form id="formAddCorso" class=" flex justify-center items-center z-50 absolute w-screen h-screen bg-[#46475ad3] m-[-20px]">
            <div class="p-[30px] flex items-start flex-col gap-3 rounded-[30px] bg-whitee aspect-video h-3/4 ">
			<span class="flex justify-between items-center w-full">
				<p class="p text-grayy">Nuovo Corso</p>
				<img class="modalCorsiButton aspect-square h-[30px] cursor-pointer" src="{{ asset('icons/close.svg') }}" alt="Chiudi">


			</span>
                <h1 class="flex heading-1 text-blackk gap-4">
                    <input id="icona" placeholder="📖" type="text" maxlength="2" class="w-[60px] outline-1 outline-dashed outline-[var(--gray-color)] rounded-[10px]">
                    <input id="nome" name="nome" value="Senza Nome" placeholder="Nome" type="text" class="outline-1 outline-dashed outline-[var(--gray-color)] rounded-[10px]"></h1>
                <div class="flex w-full flex-col gap-2 items-start">
                    <p class="w-full p text-grayy">
                        <input id="codice" type="text" class="outline-1 outline-dashed outline-[var(--gray-color)] rounded-[10px]" placeholder="Codice Corso">
                    </p>
                    <p class="w-full p text-grayy">
                        CFU: <input id="cfu" value="6" type="number" min="1" max="12" class="outline-1 outline-dashed outline-[var(--gray-color)] rounded-[10px]">
                    </p>
                    <p class="w-full p text-grayy">
                        <input id="docente" placeholder="Docenti" type="text" class="outline-1 outline-dashed outline-[var(--gray-color)] rounded-[10px]">
                    </p>
                    <p class="p text-grayy">Anno
                        <select id="anno_svolgimento">
                            <option value="1">1°</option>
                            <option value="2">2°</option>
                            <option value="3">3°</option>
                            <option value="4">4°</option>
                            <option value="5">5°</option>
                        </select>
                    </p>
                    <span class="p bg-secondary px-4 py-1 w-auto text-whitee rounded-[8px]">
					<select id="stato">
						{% for stato in stati_possibili_corso %}
                            <option value="{{ stato.id }}"> {{ stato.nome }} </option>
                        {% endfor %}
					</select>
				</span>
                </div>
                <div class="overflow-y-scroll scrollbar-none mt-5 h-full w-full">
                    <p class="p text-blackk w-full"><textarea id="note" class="w-full min-h-[300px] p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none" placeholder="Descrizione" ></textarea></p>
                </div>
                <button id="btnAddCorso" class="modalCorsiButton self-end p text-blackk bg-primary text-whitee rounded-[10px] px-5 py-3 cursor-pointer hover:brightness-120 transition-all duration-500" type="submit">Aggiungi</button>
            </div>
        </form>
    </div>
    <div class="hidden absolute" id="modalEditCorsi">{% include 'pages/corsi/modalEdit.html.twig' %}</div>
    {{ parent() }}
{% endblock %}

{% block body_content %}
    {% set icona_superato = asset("icons/ok-circle.svg") %}
    <div id="corsi" data-superato-icon-url="{{ icona_superato }}" class="overflow-x-hidden overflow-y-scroll scrollbar-none w-full h-full bg-whitee flex  flex-col p-[20px] gap-[20px] rounded-[40px] shadows justify-start">
        {% for corso in app.user.studente.corsi | sort((a, b) => b.annoSvolgimento <=> a.annoSvolgimento) | sort((a, b) => (a.stato.id == 3) <=> (b.stato.id == 3)) %}
            <div data-corso-id="{{ corso.id }}" class="flex items-center justify-between px-[30px] py-[20px] border-2 br-bg rounded-[30px]"> <!-- Item Corsi -->
                <div class="flex items-center gap-5">
                    <p class="heading-1">{{ corso.icona }}</p>
                    <div>
                        <h2 class="heading-2 text-blackk">{{ corso.nome | title }}</h2>
                        <p class="p text-grayy">{{ corso.docente | title }} - {{ corso.annoSvolgimento }}° Anno</p>
                    </div>
                </div>
                {% if corso.stato.id == 3 %}
                    <img src="{{ icona_superato }}" alt="icona">
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts_custom %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {{ parent() }}

    <script src="{{ asset('scripts/service/ajax/submitCorso.js') }}"></script>
{% endblock %}