{% extends 'base.html.twig' %}

{% block body %}
    <div class="hidden absolute" id="modalCorsi">{% include 'pages/corsi/modal.html.twig' %}</div>
    <div class="hidden absolute" id="modalEditCorsi">{% include 'pages/corsi/modalEdit.html.twig' %}</div>
    {{ parent() }}
{% endblock %}

{% block body_content %}
    {% set icona_superato = asset("icons/ok-circle.svg") %}
    <div id="corsi" data-superato-icon-url="{{ icona_superato }}" class="overflow-x-hidden overflow-y-scroll scrollbar-none w-full h-full bg-whitee flex  flex-col p-[20px] gap-[20px] rounded-[40px] shadows justify-start">
        {% for corso in app.user.studente.corsi | sort((a, b) => b.annoSvolgimento <=> a.annoSvolgimento) | sort((a, b) => (a.stato.id == 3) <=> (b.stato.id == 3)) %}
            <div class="flex items-center justify-between px-[30px] py-[20px] border-2 br-bg rounded-[30px]"> <!-- Item Corsi -->
                <div class="flex items-center gap-5">
                    <p class="heading-1">{{ corso.icona }}</p>
                    <div>
                        <h2 class="heading-2 text-blackk">{{ corso.nome | title }}</h2>
                        <p class="p text-grayy">{{ corso.docente | title }} - {{ corso.annoSvolgimento }}° Anno</p>
                    </div>
                </div>
                {% if corso.stato.id == 3 %}
                    <img src="{{ icona_superato }}" alt="icona">
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts_custom %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {{ parent() }}

    <script src="{{ asset('scripts/service/ajax/submitCorso.twig.js') }}"></script>
{% endblock %}