{% extends 'base.html.twig' %}

{% block body_content %}
	<div class=" flex-col overflow-y-scroll scrollbar-none  w-full h-full  bg-whitee flex p-[20px] gap-[20px] rounded-[40px] shadows justify-start">

		<div class="flex flex-col gap-3 w-full">
			<p class="p text-grayy capitalize">Prossimamente</p>
			<div
				class="flex gap-4 overflow-scroll w-full scrollbar-none ">
				<!-- Sezione -->

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>


				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-video object-cover w-[350px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

			</div>


		</div>

		<div class="flex flex-col gap-3 w-full">
			<p class="p text-grayy capitalize">Tutti gli eventi</p>
			<div
				class="flex gap-4 overflow-scroll w-full scrollbar-none ">
				<!-- Sezione -->

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-square object-cover w-[300px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-square object-cover w-[300px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-square object-cover w-[300px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-square object-cover w-[300px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-square object-cover w-[300px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-square object-cover w-[300px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>

				<div class="border-2 br-bg rounded-[30px] shrink-0">
					<img class="rounded-t-[30px] aspect-square object-cover w-[300px]" src="{{ asset("imgs/immagine-evento.png") }}" alt="">
					<div class="flex flex-col gap-2 p-4">
						<h2 class="heading-2 text-blackk">Hacktober Fest</h2>
						<p class="p text-grayy">15/02/24</p>
					</div>
				</div>


			</div>
		{% endblock %}
