{% extends 'base.html.twig' %}

{% block sidebar %}
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="w-full h-screen bg-red-500">
        <form class="w-full h-screen bg-red-500" action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required>

    <form action="{{ path('app_login') }}" method="post">
        <label class="bg-red-500" for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required>

            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            <button type="submit">login</button>
        </form>
    </div>


{% endblock %}