{% set route_name = app.request.get('_route')|replace({'app_': '', '_': ' '}) | capitalize %}



<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				{{ route_name }}
				- StudentSpace
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('imgs/icon.png')}}">

        

		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="flex bg-bg gap-[20px] lg:h-screen h-full w-full flex-col lg:flex-row lg:p-[20px]">
		{% block body %}

			<div class="hidden" id="modalTasse">{% include 'pages/tasse/modal.html.twig' %}</div>
			<div class="hidden" id="modalCorsi">{% include 'pages/corsi/modal.html.twig' %}</div>
			<div class="hidden" id="modalTasks">{% include 'pages/tasks/modal.html.twig' %}</div>
			<div class="hidden" id="modalEsami">{% include 'pages/esami/modal.html.twig' %}</div>
			
			{% include 'components/sidebar.html.twig' %}
			<div class="overflow-x-hidden flex flex-col w-full gap-2">
				<span class="flex items-center justify-between p text-primary">
					<h1 class="heading-1 text-blackk lg:m-0 ml-5">{{route_name}}</h1>
					<p class="p font-bold cursor-pointer   modal{{route_name}}Button">Aggiungi</p>
				</span>
				{% block body_content %}{% endblock %}
			</div>
		{% endblock %}

        {% block javascripts_custom %}
            <script src="{{ asset("scripts/openMenu.js") }}"></script>
            <script src="{{ asset("scripts/openModal.js") }}"></script>
        {% endblock %}
        
	</body>
</html>
