{% set route_name = app.request.get('_route')|replace({'app_': '', '_': ' '}) | capitalize %}



<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				{{ route_name }}
				- StudentSpace
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('imgs/icon.png')}}">

        

		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="flex bg-bg gap-[10px] lg:h-screen h-full w-full flex-col lg:flex-row lg:p-[20px]">
		{% block body %}
			{% include 'components/sidebar.html.twig' %}
			<div id="esse3Popup" class="popup-hidden z-50">{% include 'components/esse3popup.html.twig' %}</div>
			

			<div class="overflow-x-hidden flex flex-col w-full gap-2">
        <span class="flex items-center justify-between p text-primary">
					<h1 class="heading-1 text-blackk lg:m-0 ml-5">{{route_name}}</h1>
					{% block tool_bar %}
						<p class="p font-bold cursor-pointer   modal{{route_name}}Button">Aggiungi</p>
						<p class="p font-bold cursor-pointer   modalEdit{{route_name}}Button">TestModalEdit</p>
					{% endblock %}
				</span>
				
				{% block body_content %}{% endblock %}
			</div>
		{% endblock %}

        {% block javascripts_custom %}
			<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

            <script src="{{ asset("scripts/openMenu.js") }}"></script>
            <script src="{{ asset("scripts/openModal.js") }}"></script>
            <script src="{{ asset("scripts/editModal.js") }}"></script>
            <script src="{{ asset("scripts/openEsse3.js") }}"></script>
        {% endblock %}
        
	</body>
</html>

