{% extends 'base.html.twig' %}

{% block body %}
    <div class="hidden modal absolute" id="modalEsami">{% include 'pages/esami/modal.html.twig' %}</div>
    <div class="hidden modal absolute" id="modalEditEsami">{% include 'pages/esami/modalEdit.html.twig' %}</div>
    {{ parent() }}
{% endblock %}

{% block body_content %}
	{% set corsi = app.user.studente.corsi | sort((a, b) => b.annoSvolgimento <=> a.annoSvolgimento) %}
	<div class="flex-col-reverse overflow-y-scroll scrollbar-none w-full h-full bg-whitee flex lg:flex-row p-[20px] gap-[20px] rounded-[40px] shadows justify-start">

		<div class="flex flex-col basis-2/6 bg-transparent gap-4 ">
			<!-- Superati -->
			<p class="p text-grayy">Superati</p>
			<div id="superati"  class="gap-4 flex overflow-x-hidden flex-col lg:max-w-[350px] overflow-y-scroll scrollbar-none">
				{% for corso in corsi %}
					{% for esame in corso.esami %}
						{% set voto = esame.voto %}
						{% set superato = (voto > 17 and voto < 32) %}
						{% if esame.isAccettato %}
							<div class="flex flex-col bg-secondary p-[20px] rounded-[20px] gap-1 text-whitee">
								<h2 class="heading-2">{{ esame.nome | title }} </h2>
								<h2 class="p">{{ corso.icona }} {{ corso.nome }} ∙ {{ corso.cfu }} CFU</h2>
								<h2 class="heading-2">{{ esame.voto == "IDO"? "Idoneo" : esame.voto }}</h2>
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</div>

		<div class="flex flex-col basis-5/6 bg-transparent gap-4">
			<!-- Da Fare -->
			<p class="p text-grayy">Da Fare</p>
			<div id="esami_dafare" class="gap-4 flex flex-col overflow-y-scroll scrollbar-none">
				{% for esame in app.user.studente.esami | sort((a, b) => (a.dataSvolgimento) <=> (b.dataSvolgimento)) %}
					{% set voto = esame.voto %}
					{% set is_dafare = ((esame.dataSvolgimento >= date_now or esame.dataSvolgimento == "") and (not esame.isAccettato)) %}
					{% if (is_dafare) %}
						<div class="flex flex-col bg-whitee p-[20px] border-2 br-bg rounded-[20px] gap-3 text-blackk" data-esame-id="{{ esame.id }}">
							<h2 class="heading-2">{{ esame.nome | title }} </h2>
							<h2 class="p text-grayy">{{ esame.corso.icona }} {{ esame.corso.nome }} ∙ {{ esame.corso.cfu }} CFU</h2>
							{% if esame.dataSvolgimento == "" %}
								Non Pianificato
							{% else %}
								{{ esame.dataSvolgimento == date_now ?  'Oggi': esame.dataSvolgimento == date_tomorrow ? "Domani" : (esame.dataSvolgimento == date_yesterday)}}
							{% endif %}
							<span class="flex gap-4">
									<button class="p bg-primary text-whitee px-[20px] py-[10px] rounded-[10px]" data-esame-id="{{ esame.id }}">Modifica</button>
								</span>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class=" flex flex-col gap-4 basis-3/6 bg-transparent  ">
			<!-- Programmati -->
			<p class="p text-grayy">Programmati</p>
			<div id="calendar" class="bg-bg rounded-[30px] h-full p-5"></div>
		</div>

	</div>
{% endblock %}

{% block javascripts_custom %}
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');
			window.calendar = new FullCalendar.Calendar(calendarEl, {
				events: '/esami/feed_flcalendar',
				initialView: 'dayGridMonth',
				headerToolbar: {
					start: 'title',
					center: '',
					end: 'prev,next',
				},
				height: 'full',
			});
			calendar.render();
		});
	</script>

	<script src="{{ asset('scripts/service/ajax/submitEsame.js') }}"></script>
{% endblock %}
