{% extends 'base.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}

    


    
    <h1 class="text-red-500">Register</h1>
		
		    {{ form_errors(registrationForm) }}
		
		    {{ form_start(registrationForm) }}
		        {{ form_row(registrationForm.name) }}
		        {{ form_row(registrationForm.surname) }}
		        {{ form_row(registrationForm.username) }}
		        {{ form_row(registrationForm.plainPassword, {
		            label: 'Password'
		        }) }}
		        {{ form_row(registrationForm.agreeTerms) }}
		
		        <button type="submit" class="btn">Register</button>
		    {{ form_end(registrationForm) }}
		



	<div class="bg-bg flex flex-col h-full w-full items-center gap-5 justify-center">
		<form class="shadows bg-whitee flex rounded-[20px] h-[500px] gap-10 p-10" action="{{ path('app_login') }}" method="post">


            <div class="flex flex-col h-full gap-10">
			    <img class="max-w-[400px]" src="{{ asset('imgs/logo.svg') }}" alt="">


                <div class="flex flex-row h-full gap-10">

                    <span class="flex flex-col justify-between">
                        <div class="flex flex-col">
                            <label class="p text-blackk " for="">🆔Matricola</label>
                            <input class="p text-grayy  rounded-[10px] p-5 outline-1 outline-[var(--bg-color)] focus:outline-3" type="number" id="username" name="_username" value="" required/>
                        </div>

                        <div class="flex flex-col">
                            <label class="p text-blackk " for="">🔤Nome</label>
                            <input class="p text-grayy  rounded-[10px] p-5 outline-1 outline-[var(--bg-color)] focus:outline-3" type="text" id="username" name="_username" value="" required/>
                        </div>

                        <div class="flex flex-col">
                            <label class="p text-blackk " for="">🔤Cognome</label>
                            <input class="p text-grayy  rounded-[10px] p-5 outline-1 outline-[var(--bg-color)] focus:outline-3" type="text" id="username" name="_username" value="" required/>
                        </div>


                    </span>

                    <div class="w-0 h-[250px] m-auto border-1 border-dotted br-bg"></div>


                    <span class="flex flex-col justify-between">

                        <div class="flex flex-col">
                            <label class="p text-blackk " for="">👤Username</label>
                            <input class="p text-grayy  rounded-[10px] p-5 outline-1 outline-[var(--bg-color)] focus:outline-3" type="text" id="username" name="_username" value="" required/>
                        </div>

                        <div class="flex flex-col">
                            <label class="p text-blackk " for="password">🙈Password</label>
                            <input class="p text-grayy  rounded-[10px] p-5 outline-1 outline-[var(--bg-color)] focus:outline-3" type="password" id="password" name="_password" required/>
                        </div>

                        <div class="flex flex-col">
                            <label class="p text-blackk " for="password">🙉Conferma Password</label>
                            <input class="p text-grayy  rounded-[10px] p-5 outline-1 outline-[var(--bg-color)] focus:outline-3" type="password" id="password" name="_password" required/>
                        </div>
                    </span>
                </div>
            </div>

            <div class="flex flex-col gap-1 h-full">
                <button class="p h-full flex  flex-col text-blackk justify-center items-center bg-primary text-whitee cursor-pointer rounded-[10px] p-10 transition-all duration-500 hover:brightness-120" type="submit"> <img class="w-[30px] aspect-square" src="{{ asset('icons/arrow-right.svg') }}"></img> Vai </button>
                <a href="..\login" class="p text-primary text-center rounded-[10px] p-3 cursor-pointer hover:brightness-120 transition-all duration-500" >Login</a> 
            </div>  

		</form>

        

	</div>

    {% block javascripts_custom %}
      <script src="{{ asset("scripts/openEsse3.js") }}"></script>
    {% endblock %}

{% endblock body%}
