{% set route_name = app.request.get('_route')|replace({'app_': '', '_': ' '}) %}

{% block sidebar %}
    
    <div id="sidebar" class="lg:gap-10 gap-5 flex justify-between items-center h-auto bg-whitee flex-col p-[35px] lg:rounded-[40px] shadows  lg:justify-start lg:max-w-[348px] lg:h-full select-none">

        <div class="flex w-full justify-between">
            <img id="menuButtonn" class="cursor-pointer lg:hidden w-[50px] aspect-square p-[8px]" src="{{ asset('icons/menu.svg') }}"> <!-- Hamburgher -->
            <img class="lg:w-auto w-[250px]" src="{{ asset('imgs/logo.svg') }}" alt="Logo">
            <!-- Logo -->
        </div>
        {% set items = [
            {
                'name': 'dashboard',
                'route': 'app_'~'dashboard',
                'icon': {
                    'path': 'dashboard.svg',
                    'alt': 'icona dashboard'
                }
            },
            {
                'name': 'corsi',
                'route': 'app_'~'corsi',
                'icon': {
                    'path': 'book-open.svg',
                    'alt': 'icona corsi'
                }
            },
            {
                'name': 'voti',
                'route': 'app_'~'voti',
                'icon': {
                    'path': 'university.svg',
                    'alt': 'icona voti'
                }
            },
            {
                'name': 'esami',
                'route': 'app_'~'esami',
                'icon': {
                    'path': 'pencil.svg',
                    'alt': 'icona esami'
                }
            },
            {
                'name': 'tasse',
                'route': 'app_'~'tasse',
                'icon': {
                    'path': 'tax-yijiao-line.svg',
                    'alt': 'icona tasse'
                }
            },
        ] %}

        {% set config = {
            'style': {
                'item': 'flex w-full h-auto hover:ml-5 transition-all items-center gap-[18px]',
                'icon': 'w-[40px] aspect-square',
                'name': 'p text-grayy capitalize'
            },
            'selected_style': {
                    'item': 'flex w-full  h-auto items-center gap-[18px]',
                    'icon': 'w-[40px] aspect-square',
                    'name': 'p text-blackk capitalize'
            }
        } %}

        <div id="items" class="flex-row flex-wrap gap-[30px] w-full h-auto hidden  lg:flex">
            {% for item in items %}
                {% set icon = item['icon']['path'] %}
                {% if item['name'] == route_name %}
                    {% set icon = asset('icons/selected/' ~ icon) %}
                    {% set style = config['selected_style'] %}
                {% else %}
                    {% set icon = asset('icons/' ~ icon) %}
                    {% set style = config['style'] %}
                {% endif %}

                {% set options =
                    {
                        'url': path(item['route']),
                        'style': style,
                        'icon': {
                            'path': icon,
                            'alt': item['icon']['alt']
                        }
                    }
                %}

                {{ BuildItem(item['name'], options) | raw }}

            {% endfor %}
        </div>

        <div class="hidden lg:flex flex-col lg:mt-auto w-full">
            <div id="pill" class="cursor-pointer  p-3 rounded-[25px] transition-all hover:bg-[var(--bg-color)] flex shrink-0 lg:w-full gap-5 h-auto items-center "> <!-- Account Pill -->
                <img class="h-[53px] aspect-square object-contain rounded-full"
                    src="{{ asset('imgs/profile.png') }}"
                    alt="">
                
                <div class="w-auto whitespace-nowrap flex flex-col justify-center" >
                    <span class="flex lg:gap-0 gap-3 items-center"> <p class="p text-blackk font-bold text-nowrap">{{ (app.user.studente.nome | capitalize)~ " " ~ (app.user.studente.cognome | capitalize) }}</p> <img id="arrow" class="-rotate-90 transition-all"
                                class="w-[20px] h-[20px]"
                                src="{{ asset('down-arrow-5.svg') }}"
                                alt=""></span>
                    <p class="p text-grayy">{{ app.user.roles | last | capitalize }}</p>
                </div>

            </div>
            <div class="p    h-0 box-border flex bg-bg rounded-[25px] overflow-hidden transition-all duration-500" id="dropdown">
                <div class="m-3 w-full gap-3 flex">
                    <a href="../logout" class="font-black text-blackk  hover:!text-[var(--primary-color)] a flex justify-center items-center bg-whitee rounded-[15px] p-1 w-full">Esci</a>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar %}