{% set route_name = app.request.get('_route')|replace({'app_': '', '_': ' '}) %}

{% block sidebar %}
    <div class="flex h-[65px] bg-whitee flex-col p-[20px]  gap-[40px] rounded-[40px] shadows justify-start lg:min-w-[348px] lg:h-full">
        <!-- Side Panel -->
        <div>
            {{ source('@icons/logo.svg') }}
        </div>
        <!-- Logo -->

        <div class="flex flex-col gap-[40px] w-full h-auto "> <!-- Menù -->
            <div class="flex w-full h-auto items-center gap-[18px] px-[10px]">
                <!--
                <img class="w-[40px] aspect-square p-[8px]"
                     src=""
                     alt="">
                -->
                <div class="w-[40px] aspect-square p-[8px]">
                    {{ source('@icons/dashboard.svg') }}
                </div>
                <p class="p text-grayy capitalize">Dashboard</p>
            </div>
            <div class="flex w-full h-auto items-center gap-[18px] px-[10px]">
                <div class="w-[40px] aspect-square p-[8px]">
                    {{ source('@icons/book-open.svg') }}
                </div>
                <p class="p text-grayy capitalize">corsi</p>
            </div>
            <div class="flex w-full h-auto items-center gap-[18px] px-[10px]">
                <div class="w-[40px] aspect-square p-[8px]">
                    {{ source('@icons/university.svg') }}
                </div>
                <p class="p text-grayy capitalize">voti</p>
            </div>
            <div class="flex w-full h-auto items-center gap-[18px] px-[10px]">
                <div class="w-[40px] aspect-square p-[8px]">
                    {{ source('@icons/pencil.svg') }}
                </div>
                <p class="p text-grayy capitalize">esami</p>
            </div>
            <div class="flex w-full h-auto items-center gap-[18px] px-[10px]">
                <div class="w-[40px] aspect-square p-[8px]">
                    {{ source('@icons/news.svg') }}
                </div>
                <p class="p text-grayy capitalize">eventi</p>
            </div>
            <div class="flex w-full h-auto items-center gap-[18px] px-[10px]">
                <div class="w-[40px] aspect-square p-[8px]">
                    {{ source('@icons/task-done.svg') }}
                </div>
                <p class="p text-grayy capitalize">tasks</p>
            </div>
            <div class="flex w-full h-auto items-center gap-[18px] px-[10px]">
                <div class="w-[40px] aspect-square p-[8px]">
                    {{ source('@icons/tax-yijiao-line.svg') }}
                </div>
                <p class="p text-grayy capitalize">tasse</p>
            </div>
        </div>

        <div class="flex w-full h-auto justify-between mt-auto items-center"> <!-- Account Pill -->
            <img class="w-[56px] h-[56px] rounded-full"
                 src="{{ asset('imgs/profile.jpeg') }}"
                 alt="">

            <div class="flex flex-col justify-center">
                <span class="flex gap-3 items-center"> <p class="p text-blackk font-bold">Maxim Cognini</p> <img
                            class="w-[20px] h-[20px]"
                            src="{{ asset('down-arrow-5.svg') }}"
                            alt=""></span>
                <p class="p text-grayy">Studente</p>
            </div>

            <div class="w-[30px] h-[30px]">
                {{ source('@icons/notifications-active.svg') }}
            </div>
        </div>
    </div>
{% endblock sidebar %}