{% set route_name = app.request.get('_route')|replace({'app_': '', '_': ' '}) %}

{% block sidebar %}
    <div class="lg:gap-8 flex justify-between items-center h-auto bg-whitee lg:flex-col p-[20px] lg:rounded-[40px] shadows  lg:justify-start lg:min-w-[348px] lg:h-full">

        <img class="cursor-pointer lg:hidden w-[50px] aspect-square p-[8px]" src="{{ asset('icons/menu.svg') }}"> <!-- Hamburgher -->
        <!-- Side Panel -->
        <img class="lg:w-auto w-[250px]" src="{{ asset('imgs/logo.svg') }}" alt="Logo">
        <!-- Logo -->

        {% set items = [
            {
                'name': 'dashboard',
                'route': 'app_'~'dashboard',
                'icon': {
                    'path': 'dashboard.svg',
                    'alt': 'icona dashboard'
                }
            },
            {
                'name': 'corsi',
                'route': 'app_'~'corsi',
                'icon': {
                    'path': 'book-open.svg',
                    'alt': 'icona corsi'
                }
            },
            {
                'name': 'voti',
                'route': 'app_'~'voti',
                'icon': {
                    'path': 'university.svg',
                    'alt': 'icona voti'
                }
            },
            {
                'name': 'esami',
                'route': 'app_'~'esami',
                'icon': {
                    'path': 'pencil.svg',
                    'alt': 'icona esami'
                }
            },
            {
                'name': 'eventi',
                'route': 'app_'~'eventi',
                'icon': {
                    'path': 'news.svg',
                    'alt': 'icona eventi'
                }
            },
            {
                'name': 'tasks',
                'route': 'app_'~'tasks',
                'icon': {
                    'path': 'task-done.svg',
                    'alt': 'icona tasks'
                }
            },
            {
                'name': 'tasse',
                'route': 'app_'~'tasse',
                'icon': {
                    'path': 'tax-yijiao-line.svg',
                    'alt': 'icona tasse'
                }
            },
        ] %}

        {% set config = {
            'style': {
                'item': 'flex w-full h-auto hover:ml-5 transition-all items-center gap-[18px] px-[10px]',
                'icon': 'w-[40px] aspect-square',
                'name': 'p text-grayy capitalize'
            },
            'selected_style': {
                    'item': 'flex w-full  h-auto items-center gap-[18px] px-[10px]',
                    'icon': 'w-[40px] aspect-square',
                    'name': 'p text-blackk capitalize'
            }
        } %}

        <div class="flex-col gap-[30px] w-full h-auto hidden lg:flex">
            {% for item in items %}
                {% set icon = item['icon']['path'] %}
                {% if item['name'] == route_name %}
                    {% set icon = asset('icons/selected/' ~ icon) %}
                    {% set style = config['selected_style'] %}
                {% else %}
                    {% set icon = asset('icons/' ~ icon) %}
                    {% set style = config['style'] %}
                {% endif %}

                {% set options =
                    {
                        'url': path(item['route']),
                        'style': style,
                        'icon': {
                            'path': icon,
                            'alt': item['icon']['alt']
                        }
                    }
                %}

                {{ BuildItem(item['name'], options) | raw }}

            {% endfor %}
        </div>

        <div class="hidden lg:flex shrink-0 lg:w-full gap-5 h-auto justify-between lg:mt-auto items-center"> <!-- Account Pill -->
            <img class="h-[53px] aspect-square object-contain rounded-full"
                 src="{{ asset('imgs/profile.jpeg') }}"
                 alt="">

            <div class=" flex flex-col justify-center">
                <span class="flex lg:gap-0 gap-3 items-center"> <p class="p text-blackk font-bold text-nowrap">Maxim Cognini</p> <img
                            class="w-[20px] h-[20px]"
                            src="{{ asset('down-arrow-5.svg') }}"
                            alt=""></span>
                <p class="p text-grayy">Studente</p>
            </div>
            
            <img class="hidden lg:flex w-[40px] h-[40px]" src="{{ asset('icons/notifications-active.svg') }}" alt="Logo">
        </div>
    </div>
{% endblock sidebar %}